%table.zebra-striped.bordered-table
  %tbody
    - attachments.each do |attachment|
      %tr
        %td{:style => 'width: 1px'}
          = file_icon_link(attachment.file)
        %td
          = link_to(attachment.name, attachment.file.url)
          .details
            = truncate(attachment.description, :length => 150)
  - if can? :manage, Attachment
    %tfoot
      %tr
        %td.table_actions{:colspan => 2}
          = manage_attachments_link(@target || target)
