%table
  %tbody
    - collection.each do |project|
      %tr
        %td
          .project_name= project_link project
          .role= '(' + project_access_level(project) + ')'
        %td= project.owner_names
