%h1 Create your project
.row
  .span11
    = render 'form'
  .span5
    .page_explanation
      %h2 Welcome to Habitat
      %p
        Fill out this form to create your new project.
      %p
        Creating a project lets you start planning your garden. You can keep the information
        to yourself, you can share it with selected other people (such as friends,
        garden designers, etc), or you can share you progress with the whole world.
      %p
        Some features of Habitat will eventually require a paid account, but even
        just using the free features, we think that you'll find Habitat useful
        in planning your garden project.
