%table.zebra-striped.bordered-table
  %thead
    %tr
      %th Stage
      %th Amount
      %th Timeframe
  %tbody
    %tr
      %td Design
      %td $1000
      %td 4 months
    %tr
      %td Earthworks
      %td $2000
      %td 6 months
    %tr
      %td Seedlings
      %td $5000
      %td 3 years
    %tr
      %td Seeds
      %td $100
      %td 1 year
    %tr
      %td Mulch
      %td $500
      %td 3 years
