%table.zebra-striped.bordered-table
  %thead
    %tr
      %th Input
      %th When Mature
      %th During Implementation
  %tbody
    %tr
      %td Harvesting
      %td 4 hours per week
      %td
    %tr
      %td Mulching
      %td 1 day per month
      %td 3 days per month
    %tr
      %td Planting
      %td
      %td 2 days per month
