%h1 Your Goals
.well
  = link_to 'New Goal', new_site_goal_path(@site), :class => 'btn'
.row
  .span10
    %table.zebra-striped.bordered-table
      %thead
        %tr
          %th Use
          %th Examples
      %tbody
        %tr
          %td Firewood
          %td 
            %em Coppice round wood lengths; occasional harvesting of hardwood trunk
        %tr
          %td Timber
          %td 
            %em
              Fine furniture timber tree to mill every decade or so; ground durable fence post and farm utility tumber; short term garden stakes
  .span6
    %h2 Be Realistic
    %p
      Select the uses that you'd like to get out of your forest garden.
