header.master {
  padding-top: 60px;
}

div.well {
  padding: 5px 10px;
}

pre { display: none; }

.month_range {
  white-space: nowrap;
}

table {
  td.details, td div.details {
    font-style: italic;
  }
  td.avatar {
    padding: 4px 0 0 0;
    width: 80px;
    height: 80px;
    vertical-align: center;
  }
  tfoot td.table_actions {
    text-align: right;
  }
}