- content_for :breadcrumb do
  %li
    = link_to "Sites", sites_path
    %span.divider /
  %li.active= @site.name
%article
  %header
    %h1
      = @site.name
      %small= link_to "edit", edit_site_path(@site)
  .content
    some content goes here
