- if can? :edit, @site
  .well
    = attach_file_button(@site)
.row
  .span10
    %p
      This site analysis section is still under development. They grey tabs
      above are not done yet, but the blue ones are (Soil, Patches).
    %p
      We hope to be adding the other sections fairly rapidly, so start collecting data about your site
      and anything that doesn't fit into habitat yet can be attached as a document using the 
      %strong attach file
      button above.
  .span6
    = attachments_mini_table
  