<input type="checkbox" id="menu" class="menuControl"> <!-- Hidden -->
<label for="menu">
    <div class="circle-container">
        <button class="circle">&#10006;</button>
    </div>
</label>
<ul class="items">
  <li>&#9733;</li>
  <li>&#9733;</li>
  <li>&#9733;</li>
  <li>&#9733;</li>
  <li>&#9733;</li>
  <li>&#9733;</li>
</ul>